.container {
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.container:hover {
    cursor: pointer;
}

.icon {
    color: #bcbcbc;
}

.text {
    margin: 0px;
    place-self: center;
    font-size: x-large;
    word-wrap: normal;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 300px;
    }

    .text {
        font-size: large;
    }
}