.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
    height: minmax(100vw, 1fr);
}